@include test-module("breakpoint") {
	@include test("breakpoint(400px)") {
		@include assert {
			@include output {
				@include breakpoint(400px) {
					color: red;
				}
			}

			@include expect {
				@media (min-width: 400px) {
					& {
						color: red;
					}
				}
			}
		}
	}

	@include test("breakpoint(400px 800px)") {
		@include assert {
			@include output {
				@include breakpoint(400px 800px) {
					color: red;
				}
			}

			@include expect {
				@media (min-width: 400px) and (max-width: 800px) {
					& {
						color: red;
					}
				}
			}
		}
	}

	@include test("breakpoint(max-width 1024px)") {
		@include assert {
			@include output {
				@include breakpoint(max-width 1024px) {
					color: red;
				}
			}

			@include expect {
				@media (max-width: 1024px) {
					& {
						color: red;
					}
				}
			}
		}
	}

	@include test("breakpoint((max-width 1024px) (orientation landscape))") {
		@include assert {
			@include output {
				@include breakpoint((max-width 1024px) (orientation landscape)) {
					color: red;
				}
			}

			@include expect {
				@media (max-width: 1024px) and (orientation: landscape) {
					& {
						color: red;
					}
				}
			}
		}
	}

	@include test("breakpoint(((max-width 1024px), (orientation landscape)))") {
		@include assert {
			@include output {
				@include breakpoint(((max-width 1024px), (orientation landscape))) {
					color: red;
				}
			}

			@include expect {
				@media (max-width: 1024px), (orientation: landscape) {
					& {
						color: red;
					}
				}
			}
		}
	}

	@include test("multiple breakpoints") {
		@include assert {
			@include output {
				$mobile: max-width 560px;
				$tablet: 561px 1024px;
				$desktop: 1025px;

				@include breakpoint($mobile) {
					font-size: 14px;
				}

				@include breakpoint($tablet) {
					font-size: 16px;
				}

				@include breakpoint($desktop) {
					font-size: 18px;
				}
			}

			@include expect {
				@media (max-width: 560px) {
					& {
						font-size: 14px;
					}
				}

				@media (min-width: 561px) and (max-width: 1024px) {
					& {
						font-size: 16px;
					}
				}

				@media (min-width: 1025px) {
					& {
						font-size: 18px;
					}
				}
			}
		}
	}
}
