@include test-module("clearfix") {
	@include test("clearfix") {
		@include assert {
			@include output {
				@include clearfix;
			}

			@include expect {
				&:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
	}

	@include test("clearfix-class()") {
		@include assert {
			@include output {
				@include clearfix-class;
			}

			@include expect {
				.clearfix:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
	}

	@include test("clearfix-class(\".test-output\")") {
		@include assert {
			@include output {
				@include clearfix-class(".test-output");
			}

			@include expect {
				.test-output:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
	}
}