@include test-module("margin-x-y") {
	@include test("margin-x") {
		@include assert {
			@include output {
				@include margin-x;
			}

			@include expect {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	@include test("margin-x(1em)") {
		@include assert {
			@include output {
				@include margin-x(1em);
			}

			@include expect {
				margin-right: 1em;
				margin-left: 1em;
			}
		}
	}

	@include test("margin-y") {
		@include assert {
			@include output {
				@include margin-y;
			}

			@include expect {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	@include test("margin-y(1em)") {
		@include assert {
			@include output {
				@include margin-y(1em);
			}

			@include expect {
				margin-top: 1em;
				margin-bottom: 1em;
			}
		}
	}
}
