@include test-module("property-x-y") {
	@include test("property-x(margin, 20px)") {
		@include assert {
			@include output {
				@include property-x(margin, 20px);
			}

			@include expect {
				margin-right: 20px;
				margin-left: 20px;
			}
		}
	}

	@include test("property-x(border, 10px solid black)") {
		@include assert {
			@include output {
				@include property-x(border, 10px solid black);
			}

			@include expect {
				border-right: 10px solid black;
				border-left: 10px solid black;
			}
		}
	}

	@include test("property-y(margin, 20px)") {
		@include assert {
			@include output {
				@include property-y(margin, 20px);
			}

			@include expect {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}

	@include test("property-y(border, 10px solid black)") {
		@include assert {
			@include output {
				@include property-y(border, 10px solid black);
			}

			@include expect {
				border-top: 10px solid black;
				border-bottom: 10px solid black;
			}
		}
	}
}