@include test-module("property-multi") {
	@include test("property-multi(margin,(), 20px)") {
		@include assert {
			@include output {
				@include property-multi(margin, (), 20px);
			}

			@include expect {
				// Nothing.
			}
		}
	}

	@include test("property-multi(font,(family), sans-serif") {
		@include assert {
			@include output {
				@include property-multi(font, (family), sans-serif);
			}

			@include expect {
				font-family: sans-serif;
			}
		}
	}

	@include test("property-multi(border,(top, right), 2px solid red)") {
		@include assert {
			@include output {
				@include property-multi(border, (top, right), 2px solid red);
			}

			@include expect {
				border-top: 2px solid red;
				border-right: 2px solid red;
			}
		}
	}
}
