@include test-module("property-multi") {
	@include test("property-multi(margin, (), 20px)") {
		@include assert {
			@include output {
				.foo {
					@include property-multi(margin, (), 20px);
				}
			}

			@include expect {
				.foo {
					// No output.
				}
			}
		}
	}

	@include test("property-multi(font, (family), sans-serif") {
		@include assert {
			@include output {
				.foo {
					@include property-multi(font, (family), sans-serif);
				}
			}

			@include expect {
				.foo {
					font-family: sans-serif;
				}
			}
		}
	}

	@include test("property-multi(border, (top, right), 2px solid red)") {
		@include assert {
			@include output {
				.foo {
					@include property-multi(border, (top, right), 2px solid red);
				}
			}

			@include expect {
				.foo {
					border-top: 2px solid red;
					border-right: 2px solid red;
				}
			}
		}
	}
}