@include test-module("breakpoint") {
	@include test("breakpoint(400px)") {
		@include assert {
			@include output {
				.foo {
					@include breakpoint(400px) {
						color: red;
					}
				}
			}

			@include expect {
				@media (min-width: 400px) {
					.foo {
						color: red;
					}
				}
			}
		}
	}

	@include test("breakpoint(400px 800px)") {
		@include assert {
			@include output {
				.foo {
					@include breakpoint(400px 800px) {
						color: red;
					}
				}
			}

			@include expect {
				@media (min-width: 400px) and (max-width: 800px) {
					.foo {
						color: red;
					}
				}
			}
		}
	}
}