{
	"plugins": [
		"stylelint-scss"
	],

	"rules": {
		"function-comma-space-after": "always",

		"declaration-colon-space-after": "always",
		"declaration-colon-space-before": "never",

		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-semicolon-space-before": "never",
		"declaration-block-trailing-semicolon": "always",

		"length-zero-no-unit": true,

		"block-closing-brace-empty-line-before": "never",
		"block-closing-brace-newline-after": "always",
		"block-closing-brace-newline-before": "always",
		"block-no-empty": true,
		"block-opening-brace-newline-after": "always",

		"indentation": "tab",

		"scss/at-mixin-argumentless-call-parentheses": "never",
		"scss/dollar-variable-colon-space-after": "always",
		"scss/dollar-variable-colon-space-before": "never"
	}
}