@include test-module("columns") {
	@include test("one-property") {
		@include assert {
			@include output {
				width: columns(12);
			}

			@include expect {
				width: 50%;
			}
		}
	}

	@include test("two-properties") {
		@include assert {
			@include output {
				width: columns(3, 12);
			}

			@include expect {
				width: 25%;
			}
		}
	}
}