////
/// @author Calvin Davis
////

/// Applies visuallyhidden styling.
@mixin visuallyhidden {
	position: absolute;
	overflow: hidden;
	padding: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

/// Renders visuallyhidden class.
/// @param {String} $selector [".visuallyhidden"] - Optional selector string
@mixin visuallyhidden-class($selector: ".visuallyhidden") {
	#{$selector} {
		@include visuallyhidden;
	}
}